[submodule "DiceRoller"]
	path = DiceRoller
	url = https://github.com/sabkayar/DiceRoller.git
[submodule "AboutMe"]
	path = AboutMe
	url = https://github.com/sabkayar/AboutMe.git
[submodule "ColorMyViews"]
	path = ColorMyViews
	url = https://github.com/sabkayar/ColorMyViews.git
