[submodule "DiceRoller"]
	path = DiceRoller
	url = https://github.com/sabkayar/DiceRoller.git
[submodule "AboutMe"]
	path = AboutMe
	url = https://github.com/sabkayar/AboutMe.git
[submodule "ColorMyViews"]
	path = ColorMyViews
	url = https://github.com/sabkayar/ColorMyViews.git
[submodule "Trivia"]
	path = Trivia
	url = https://github.com/sabkayar/AndroidTrivia.git
[submodule "andfun-kotlin-dessert-pusher"]
	path = andfun-kotlin-dessert-pusher
	url = https://github.com/sabkayar/andfun-kotlin-desset-pusher.git
[submodule "andfun-kotlin-guess-it"]
	path = andfun-kotlin-guess-it
	url = https://github.com/sabkayar/andfun-kotlin-guess-it.git
[submodule "andfun-kotlin-sleep-tracker"]
	path = andfun-kotlin-sleep-tracker
	url = https://github.com/sabkayar/andfun-kotlin-sleep-tracker.git
